// Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

.container
    color: $bgc-color
    display: flex
    justify-content: center
    width: 100%
    height: 100vh

.left-panel
    width: 50%
    display: flex
    justify-content: center
    background-color: $primary-color
    padding: 20px
    align-items: center
    @media screen and (max-width:1100px)
        width: 100%

.login-section
    width: 450px

.login-header
h2
    margin-bottom: 10px

.details-description
    max-width: 420px
    color: $bgc-shadow-color
    font-size: 20px
    margin-top: 10px

.input-section
    margin-bottom: 10px
    h5
        margin-bottom: 10px

.sign-button-section
    display: flex
    flex-direction: column
    align-items: center

.unregistered-section
    display: flex
    justify-content: space-around
.sign-up-link
    color: $secondary-color

.right-panel
    width: 50%
    display: flex
    justify-content: center
    padding: 20px
    align-items: center
    background-color: $bgc-color
    color: $primary-color
    @media screen and (max-width:1100px)
        display: none
